.challengerspage {
	padding: 5rem 0;
	@include linearLightBlueBackground();
	height: 100%;

	.head {
		text-align: center;
	}

	.search-form {
		display: flex;
		align-items: center;
		justify-content: space-between;
		div {
			label {
				color: $primary-color;
				opacity: $opacity;
			}
			input,
			textarea,
			select {
				border-bottom: 2px solid $primary-color;
				color: $black-color;
			}
		}
	}

	.login-form {
		div {
			label {
				color: $primary-color;
				opacity: $opacity;
			}
			input,
			textarea,
			select {
				border-bottom: 2px solid $primary-color;
				color: $black-color;
			}
		}
	}

	.challengers {
		margin: 2rem 0;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1rem;

		.challenger {
			background-color: $grey-color;
			color: $black-color;
			padding: 1.5rem;
			border-radius: $radius;
			box-shadow: $shadow;

			h6 {
				margin: 1rem 0;

				&:first-child {
					margin-top: 0;
				}
			}

			.btn {
				width: 100%;
			}
		}

		.challenger.marked {
			background: darken($grey-color, 10%);
			opacity: $opacity;
			cursor: not-allowed;
		}
	}

	.register-challengers {
		background-color: $white-color;
		color: $black-color;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 2rem;
		border-radius: $radius;
	}

	.register-modal {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: rgba($primary-color, 0.6);
		width: 100%;
		height: 100%;
		margin: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 2;
		form {
			background-color: $white-color;
			padding: 2rem;
			border-radius: $radius;
			min-width: 900px;
			box-shadow: $shadow;

			div {
				label {
					color: $primary-color;
					opacity: $opacity;
				}
				input,
				textarea,
				select {
					border-bottom: 2px solid $primary-color;
					color: $black-color;
				}
			}
		}
	}
}
