// $primary-color: #103f5d;
$primary-color: #014db3;
$white-color: #ffffff;
$black-color: #000000;
$light-blue-color: #edf8fd;
$light-color: #fafeff;
$dark-color: hsl(219, 29%, 14%);
$grey-color: #e5e5e5;

$radius: 10px;
$opacity: 0.7;
$shadow: rgba($primary-color, 0.24) 0px 3px 8px;
