.contactpage {
	background-image: url("../public/contact-bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: calc(100vh - 100px);
	height: calc(100vh - 100px);

	.container {
		display: grid;
		grid-template-columns: 3fr 2fr;
		gap: 1rem;
		align-items: center;
		color: $white-color;
		height: 100%;

		form {
			// background-color: green;
			p {
				margin-top: 0.5rem;
				span {
					display: block;
					opacity: $opacity;
				}
			}

			h5 {
				// color: $danger-color;
			}
		}
	}
}
