.faqpage {
	padding: 5rem 0;
	@include linearLightBlueBackground();
	height: 100%;

	.head {
		text-align: center;

		span {
			display: inline-block;
			border: 2px solid lighten($primary-color, 10%);
			border-radius: 100px;
			font-size: 0.6rem;
			background-color: transparent;
			padding: 1rem 2rem;
		}

		h4 {
			margin: 2rem 0 3rem 0;

			strong {
				display: block;
				@include linearTextBackground();
			}
		}
	}

	/** Main Title **/
	.faqs {
		// display: flex;
		// flex-direction: column;
		// gap: 1rem;
		color: $black-color;
		width: 95%;
		margin: 0 auto;

		.question {
			margin: 1rem 0;
			background-color: $grey-color;
			border-radius: $radius;
			@include transition();

			.title {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				cursor: pointer;
				padding: 1.5rem;

				svg {
					font-size: 1.5rem;
				}
			}

			.answer {
				// display: inline-block;
				padding: 0 1.5rem 1.5rem 1.5rem;
			}

			&:hover {
				background-color: darken($grey-color, 10%);
			}
		}

		.question.dark {
			background-color: darken($grey-color, 10%);
		}
	}

	.still-have-questions {
		background-color: $primary-color;
		color: $white-color;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1.5rem 2rem;
		border-radius: $radius;
		margin-top: 3rem;

		h5 {
			margin-bottom: 0.75rem;
			font-size: 1.2rem;
		}
	}
}
