.gallerypage {
	padding: 5rem 0;
	@include linearLightBlueBackground();
	// min-height: 100vh;
	height: 100%;

	.head {
		text-align: center;
		span {
			display: inline-block;
			border: 2px solid lighten($primary-color, 10%);
			border-radius: 100px;
			font-size: 0.6rem;
			background-color: transparent;
			padding: 1rem 2rem;
		}

		h4 {
			@include linearTextBackground();
			margin: 2rem 0;
		}
	}

	.our-team,
	.our-speakers,
	.innovation-two {
		margin-top: 2rem;
		span {
			display: inline-block;
			border: 2px solid lighten($black-color, 60%);
			border-radius: 100px;
			font-size: 0.7rem;
			background-color: transparent;
			padding: 1rem 2rem;
		}
	}
}
