.homepage {
	.showcase {
		background-image: url("../public/showcase.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 80vh;
		height: 80vh;

		.container {
			display: flex;
			align-items: flex-end;
			justify-content: space-between;
			// background-color: red;
			height: 100%;
			padding-bottom: 3rem;

			.intro-head {
				color: $white-color;
				display: flex;
				align-items: flex-start;
				justify-content: center;
				flex-direction: column;
				flex: 2;
				// background-color: darkorange;
				// padding: 3rem 0;
				// padding-top: 3rem;
				// text-align: center;

				h4 {
					text-transform: uppercase;
					opacity: $opacity;
				}

				.inn {
					// background-color: khaki;
					display: flex;
					align-items: center;
					justify-content: flex-start;
					text-transform: uppercase;

					span {
						background-color: $primary-color;
						padding: 1rem;
						border-radius: 100%;
						font-size: 2.5rem;
					}
				}

				.intro {
					font-size: 1rem;
				}
			}

			.countdown-section {
				flex: 1;
				// background-color: darkgoldenrod;
				color: $white-color;
				text-align: center;

				.countdown {
					display: grid;
					grid-template-columns: repeat(4, 1fr);
					margin-bottom: 2rem;
					div {
						// background-color: brown;
						small {
							font-weight: bold;
							text-transform: uppercase;
						}
					}

					.box {
						display: flex;
						align-items: center;
						justify-content: center;

						// background-color: darkorchid;
						h4 {
							margin-left: 1rem;
						}
						// flex-direction: column;
					}
				}
			}
		}
	}
	.why-innovation {
		background-color: $white-color;
		padding: 5rem 0;

		.head {
			h4 {
				text-align: center;
				// color: $primary-color;
				margin-bottom: 3rem;
				@include linearTextBackground();
			}
		}

		.boxes {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 2rem;

			.dream,
			.dare,
			.innovate {
				background-image: url("../public/dare.jpg");
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				min-height: 50vh;
				height: 50vh;
				border-radius: 20px;
				display: flex;
				align-items: center;
				justify-content: center;
				text-align: center;
				flex-direction: column;
				padding: 0 2rem;
				margin-top: 5rem;
				color: $white-color;
				box-shadow: $shadow;

				h4 {
					color: $white-color;
					margin-bottom: 1rem;
					text-transform: uppercase;
				}

				p {
					opacity: $opacity;
				}
			}
			.dream {
				background-image: url("../public/dream.jpg");
				margin-top: 0;
			}
			.innovate {
				background-image: url("../public/innovate.jpg");
			}
		}
	}
	.speakers-section {
		background-color: darken($primary-color, 10%);
		// background-color: #103f5d;
		color: $white-color;
		padding: 5rem 0;

		.head {
			text-align: center;
			margin-bottom: 3rem;
		}

		.speakers {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 2rem;
			.speaker {
				text-align: center;
				img {
					border-radius: 100%;
					width: 250px;
					height: 250px;
				}

				p {
					font-weight: bold;
					margin: 1rem 0;
					opacity: $opacity;
				}

				.socials {
					svg {
						font-size: 2rem;
						margin: 0.5rem 0.5rem;
					}

					.facebook {
						color: #ffffff;
					}

					.twitter {
						color: #1e9beb;
					}

					.instagram {
						color: #bf2e8e;
					}
				}
			}
		}
	}

	.excerpt-section {
		padding: 5rem 0;
		@include linearLightBlueBackground();

		.head {
			text-align: center;
			@include linearTextBackground();
			margin-bottom: 3rem;
		}

		.excerpts {
			// display: flex;
			// align-items: center;
			// justify-content: center;
			// flex-direction: column;

			.excerpt {
				display: flex;
				align-items: center;
				justify-content: space-between;
				// background-color: #bf2e8e;
				// margin: 4rem 0;
				// color: $white-color;

				.details {
					width: 60%;

					h5 {
						margin: 2rem 0;
					}
					svg {
						font-size: 6rem;
						color: $primary-color;
					}

					div {
						display: flex;
						align-items: flex-start;
						justify-content: center;
						flex-direction: column;
						.name,
						.title {
							color: $white-color;
							padding: 1rem 2rem;
							margin: 0.2rem 0;
							// border-radius: $radius;
							background-color: $primary-color;
							// width: 100%;
							display: inline-block;
						}

						.title {
							background-color: darken($primary-color, 10%);
						}
					}
				}

				img {
					width: 400px;
					height: 400px;
					border-radius: 100%;
				}
			}
			.excerpt:last-child {
				// background-color: red;
				flex-direction: row-reverse;
				text-align: right;
				margin-top: 5rem;

				.details {
					div {
						align-items: flex-end;
					}
				}
			}
		}
	}

	.pre-register-section {
		background-color: $primary-color;
		text-align: center;
		padding: 5rem 0;
		color: $white-color;

		.head {
			span {
				border: 2px solid lighten($primary-color, 10%);
				border-radius: 100px;
				font-size: 0.6rem;
				background-color: transparent;
				padding: 1rem 2rem;
				color: $white-color;
			}
			h4 {
				margin: 2rem 0 2rem 0;
			}
		}

		.btn-primary {
			background-color: lighten($primary-color, 10%);
			margin-top: 3rem;

			&:hover {
				background-color: lighten($primary-color, 5%);
			}
		}

		p {
			opacity: $opacity;
			width: 90%;
			margin: 0 auto;
		}
	}

	.testimonials-section {
		padding: 5rem 0;
		color: $black-color;

		.head {
			text-align: center;
			span {
				border: 2px solid lighten($primary-color, 10%);
				border-radius: 100px;
				font-size: 0.6rem;
				background-color: transparent;
				padding: 1rem 2rem;
			}
			h4 {
				margin: 2rem 0 2rem 0;
				strong {
					display: block;
					@include linearTextBackground();
				}
			}
		}
	}
}
