a {
	text-decoration: none;
	color: $black-color;
}

img {
	object-fit: cover;
}

.container {
	width: 90%;
	max-width: 1224px;
	margin: auto;
}

@mixin transition() {
	transition: all ease-in-out 0.5s;
}

@mixin linearTextBackground() {
	background-image: linear-gradient(
		to right,
		$primary-color,
		darken($primary-color, 20%)
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@mixin linearLightBlueBackground() {
	background-image: linear-gradient(
		to right,
		$light-blue-color,
		$light-color,
		$light-blue-color
	);
}

.break {
	span {
		display: inline-block;
		border: 2px solid lighten($primary-color, 10%);
		border-radius: 100px;
		font-size: 0.6rem;
		background-color: transparent;
		padding: 1rem 2rem;
	}

	h4 {
		margin-top: 1rem;
		text-transform: uppercase;
		strong {
			display: block;
			@include linearTextBackground();
		}
	}
}

h1 {
	font-size: 6rem;
}

h2 {
	font-size: 4rem;
}

h3 {
	font-size: 3rem;
}

h4 {
	font-size: 2rem;
}

h5 {
	font-size: 1rem;
}

h6 {
	font-size: 0.8rem;
}

.btn {
	outline: none;
	font-size: 0.9rem;
	display: inline-block;
	border: none;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	padding: 1rem 2rem;
	text-transform: uppercase;
	font-family: "__Montserrat_588e4d", "__Montserrat_Fallback_588e4d";
	border-radius: $radius;
	@include transition();

	&-primary {
		background-color: $primary-color;
		color: $white-color;

		&:hover {
			background-color: darken($primary-color, 10%);
		}
	}

	&-white-outline {
		border: 2px solid $white-color;
		border-radius: 100px;
		background: transparent;
		color: $white-color;

		&:hover {
			background-color: $white-color;
			color: $black-color;
		}
	}

	&:disabled {
		opacity: $opacity;
		cursor: not-allowed;
	}
}

form {
	div {
		width: 100%;
		margin: 0.5rem 0;
		label {
			font-weight: bold;
			color: $white-color;
			opacity: $opacity;
		}
		input,
		textarea,
		select {
			font-family: "__Montserrat_588e4d", "__Montserrat_Fallback_588e4d";
			border: none;
			border-bottom: 2px solid $white-color;
			background-color: transparent;
			outline: none;
			width: 100%;
			padding: 0.1rem 0 0.3rem 0;
			font-weight: bold;
			font-size: 0.8rem;
			color: $white-color;
		}
		input[type="number"]::-webkit-inner-spin-button,
		input[type="number"]::-webkit-outer-spin-button {
			-webkit-appearance: none;
		}

		input[type="number"] {
			-moz-appearance: textfield;
		}

		option {
			color: $black-color;
		}
	}
}

.line {
	width: 100%;
	padding: 1px 0;
	background-color: $primary-color;
}

.loader {
	animation: rotate 1s infinite;
	height: 20px;
	width: 20px;
	cursor: not-allowed;
}
.loader:before,
.loader:after {
	border-radius: 50%;
	content: "";
	display: block;
	height: 10px;
	width: 10px;
}
.loader:before {
	animation: ball1 1s infinite;
	background-color: #cb2025;
	box-shadow: 30px 0 0 #f8b334;
	margin-bottom: 10px;
}
.loader:after {
	animation: ball2 1s infinite;
	background-color: #00a096;
	box-shadow: 30px 0 0 #97bf0d;
}

@keyframes rotate {
	0% {
		-webkit-transform: rotate(0deg) scale(0.8);
		-moz-transform: rotate(0deg) scale(0.8);
	}
	50% {
		-webkit-transform: rotate(360deg) scale(1.2);
		-moz-transform: rotate(360deg) scale(1.2);
	}
	100% {
		-webkit-transform: rotate(720deg) scale(0.8);
		-moz-transform: rotate(720deg) scale(0.8);
	}
}

@keyframes ball1 {
	0% {
		box-shadow: 30px 0 0 #f8b334;
	}
	50% {
		box-shadow: 0 0 0 #f8b334;
		margin-bottom: 0;
		-webkit-transform: translate(15px, 15px);
		-moz-transform: translate(15px, 15px);
	}
	100% {
		box-shadow: 30px 0 0 #f8b334;
		margin-bottom: 10px;
	}
}

@keyframes ball2 {
	0% {
		box-shadow: 30px 0 0 #97bf0d;
	}
	50% {
		box-shadow: 0 0 0 #97bf0d;
		margin-top: -20px;
		-webkit-transform: translate(15px, 15px);
		-moz-transform: translate(15px, 15px);
	}
	100% {
		box-shadow: 30px 0 0 #97bf0d;
		margin-top: 0;
	}
}
