a {
	text-decoration: none;
	color: $black-color;
}

img {
	object-fit: cover;
}

.container {
	width: 90%;
	max-width: 1224px;
	margin: auto;
}

@mixin transition() {
	transition: all ease-in-out 0.5s;
}

h1 {
	font-size: 6rem;
}

h2 {
	font-size: 4rem;
}

h3 {
	font-size: 3rem;
}

h4 {
	font-size: 2rem;
}

h5 {
	font-size: 1rem;
}

h6 {
	font-size: 0.8rem;
}

.btn {
	outline: none;
	font-size: 0.9rem;
	display: inline-block;
	border: none;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	padding: 1rem 2rem;
	text-transform: uppercase;
	// font-family: "__Plus_Jakarta_Sans_2df864",
	// 	"__Plus_Jakarta_Sans_Fallback_2df864";
	border-radius: $radius;
	@include transition();

	&-primary {
		background-color: $primary-color;
		color: $white-color;

		&:hover {
			background-color: darken($primary-color, 10%);
		}
	}
}
