a {
	text-decoration: none;
	color: $black-color;
}

img {
	object-fit: cover;
}

.container {
	width: 90%;
	max-width: 1224px;
	margin: auto;
}

@mixin transition() {
	transition: all ease-in-out 0.5s;
}

@mixin linearTextBackground() {
	background-image: linear-gradient(
		to right,
		$primary-color,
		darken($primary-color, 20%)
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@mixin linearLightBlueBackground() {
	background-image: linear-gradient(
		to right,
		$light-blue-color,
		$light-color,
		$light-blue-color
	);
}

h1 {
	font-size: 6rem;
}

h2 {
	font-size: 4rem;
}

h3 {
	font-size: 3rem;
}

h4 {
	font-size: 2rem;
}

h5 {
	font-size: 1rem;
}

h6 {
	font-size: 0.8rem;
}

.btn {
	outline: none;
	font-size: 0.9rem;
	display: inline-block;
	border: none;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	padding: 1rem 2rem;
	text-transform: uppercase;
	font-family: "__Montserrat_588e4d", "__Montserrat_Fallback_588e4d";
	border-radius: $radius;
	@include transition();

	&-primary {
		background-color: $primary-color;
		color: $white-color;

		&:hover {
			background-color: darken($primary-color, 10%);
		}
	}

	&-white-outline {
		border: 2px solid $white-color;
		border-radius: 100px;
		background: transparent;
		color: $white-color;

		&:hover {
			background-color: $white-color;
			color: $black-color;
		}
	}
}

form {
	div {
		width: 100%;
		margin: 0.5rem 0;
		label {
			// font-size: 0.8rem;
			font-weight: bold;
			color: $white-color;
			opacity: $opacity;
		}
		input,
		textarea {
			font-family: "__Montserrat_588e4d", "__Montserrat_Fallback_588e4d";
			border: none;
			border-bottom: 2px solid $white-color;
			background-color: transparent;
			outline: none;
			width: 100%;
			padding: 0.1rem 0 0.3rem 0;
			font-weight: bold;
			font-size: 0.8rem;
			color: $white-color;
		}
		input[type="number"]::-webkit-inner-spin-button,
		input[type="number"]::-webkit-outer-spin-button {
			-webkit-appearance: none;
		}

		input[type="number"] {
			-moz-appearance: textfield;
		}
	}
}

.line {
	width: 100%;
	padding: 1px 0;
	background-color: $primary-color;
	// margin: 5rem 0;
}
