@import "config";
@import "utilities";
@import "homepage";
@import "aboutpage";
@import "contactpage";
@import "pre-registerpage";
@import "gallerypage";
@import "testimonialspage";
@import "faqpage";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100%;
	line-height: 1.7;
	background-color: $white-color;
	color: $black-color;
	font-size: 13px;
	min-height: 100vh;
}

header {
	border-bottom: 1px solid $primary-color;
	box-shadow: $shadow;
	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 90%;
		margin: 0 auto;
		height: 100px;
		text-transform: uppercase;

		img {
			width: 100px;
			height: 100px;
			vertical-align: middle;
			margin-right: 1rem;
			border-radius: 100%;
		}

		.links {
			display: flex;
			align-items: center;
			justify-content: space-between;
			@include transition();

			a {
				font-weight: bold;
				padding: 0.5rem 1rem;
				margin-left: 0.1rem;
				font-size: 0.7rem;
				border: 1px solid transparent;
				@include transition();

				&:hover {
					color: $primary-color;
				}
			}
		}

		.burger {
			display: flex;
			align-items: center;
			justify-content: center;
			display: none;

			&-icon {
				font-size: 2rem;
				cursor: pointer;
				@include transition();

				&:hover {
					color: $primary-color;
				}
			}
		}
	}
}

.notfoundpage,
.cornerstone-foundationpage {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	@include linearLightBlueBackground();

	h1,
	h2,
	p,
	h4 {
		@include linearTextBackground();
	}

	h4 {
		margin-top: 2rem;
	}

	p {
		font-weight: bold;
	}
}

footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: rgba($primary-color, 0.35) 0px 1px 5px;
	margin: 0 auto;
	font-weight: bold;
	padding: 0 2rem;
	background-color: $white-color;
	text-align: center;
	img {
		width: 50px;
		height: 50px;
	}

	.socials {
		svg {
			font-size: 1.5rem;
			margin: 0.5rem 0.5rem;
			cursor: pointer;
		}

		.facebook {
			color: #4267b2;
		}

		.twitter {
			color: #1e9beb;
		}

		.instagram {
			color: #bf2e8e;
		}
	}
}

@import "mobile";
